.first{
    margin-top: 4rem;
    margin-bottom: 3rem;
}
tbody>tr{
    text-align: center;
    justify-content: center;
}
thead{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: large;
    border-bottom: 3px;
    border-color: white;
}
.rank{
    text-align: center;
}
.logo{
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    gap:10px
}
